
/* ----------------- SECTIONS ------------------ */

#project-main-container{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  min-height: 100vh;
}

.project-section-container{
  border-radius: 10px;
  margin: 1% 0;
  width: 32%;
}

.section-list-div {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.project-section-colour{
  background-color: var(--white-dark);
}


/* ----------------- Insert Note ------------------ */

#insert-note-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 0 7% 0;
}

#insert-note-container hr{
  margin:  2% auto 2% auto;
}

.insert-note {
  background-color: var(--grey-extra-light);
  border-radius: 10px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  margin: 5% auto 0 auto;
  padding: 2% 5%;
  width: 80%;
}

.insert-note-expanded{
  height: 20%;
}

.insert-note input{
  font-size: 0.75rem;
  font-weight: 700;
  padding: 2% 0;
  text-align: center;
}

#button-add-task-div{
  margin: 0 auto 0 auto;
  width: 40%;
}

#button-add-task{
  font-size: 0.75rem;
  margin: 0 auto 0 auto;
  width: 100%;
}


/* ----------------- Note ------------------ */

.note {
border-radius: 7px;
box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
margin: 3% 2%;
width: 45%;
padding: 3% ;
float: left;
}

#section-to-do .note{
  background-color: rgba(var(--primary), 0.7);
}

#section-doing .note{
  background-color: rgba(var(--primary), 0.45);
}

#section-archive .note{
  background-color: rgba(var(--primary), 0.25);
}

.note p{
  font-size: 0.8rem;
  margin: 5% 0 ;
  white-space: normal;
  word-wrap: break-word;
}

.note hr{
  border: 0.5px solid var(--grey-extra-light);
}


.doing-button, .archive-button, .delete-button{
  color: var(--grey-nav);
}

.doing-button:hover, .archive-button:hover{
  cursor: pointer;
  color: var(--grey-medium);
}

.delete-button:hover{
  cursor: pointer;
  color: var(--red);
 }


 /* ----------------- DOING SECTION ------------------ */


.project-title-div{
  align-items: center;
  border-radius: 10px;
  display: flex;
  height: 7vh;
  justify-content: center;
  margin: 0 0 3% 0;
}

#section-doing .project-title-div {  
  background-color: rgba(var(--primary), 1.0);
  color: var(--white-dark);
}


.project-section-doing{
  border-radius: 10px;
  min-height: 88vh;
}

.project-section-doing hr {
  width: 90%;
}