

/* ----------------- HOMEPAGE ------------------ */

.section-homescreen{
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  min-height: 100vh;
}

.home-subsection-projects-container{
  background-color: yellow;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
}

.home-subsection-user{
  margin: 0 1% 0 1%;
}




.home-subsection input[type=text]{
  display: inline-block;
  margin: 2% 0 2% 5%;
  width: 20%;
}

.home-subsection-projects-select input[type=text]{
  display: inline-block;
  margin: 2% 0 2% 5%;
  width: 60%;
}


#home-subsection-projects{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 2% 0 0 0;
  width: 100%;
}


/* ----------------- PROJECTS ------------------ */

.field-flex{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.colour-card{
  display: flex;
  flex-direction: column;
  padding: 5% 5% 2% 5%;
  width: 50%;
}

.colour-card-div{
  display: inline-block;
  border: 1px solid var(--black);
  border-radius: 15px;
  margin-bottom: 3%;
  min-width: 10vw;
  min-height: 5vh;
}

#palette-green{
  background: linear-gradient(to right, #fcfcfc 33%, #e9e9e9 33%, #e9e9e9 66%, #4e705d 66% );
}
#palette-red{
  background: linear-gradient(to right, #fffbfb 33%, #f3f1ef 33%, #f3f1ef 66%, #b01307 66% );
}
#palette-blue{
  background: linear-gradient(to right, #f8f9fb 33%, #e7ecef 33%, #e7ecef 66%, #2E86AB 66% );
}
#palette-yellow{
  background: linear-gradient(to right, #ffffff 33%, #f4f4f4 33%, #f4f4f4 66%, #eec302 66% );
}


.home-project-name{
  display: inline-block;
  margin: 2% 5% 2% 0;
}

.home-project-name:hover{
  color: var(--primary);
  cursor: pointer;
}


.button-delete-project{
  color: var(--primary);
  padding: 0;
}

.button-delete-project:hover{
  color: var(--red);
  cursor: pointer;
}



/* ----------------- USER PANEL ------------------ */

.home-subsection-user-panel{
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-around;
  margin: 0 5% 0 0;
  width: 20vw;
}


.user-container{
  align-items: center;
  background-color: var(--white-dark);
  border-radius: 15px;
  display: flex;
  justify-content: center;
  padding: 2% 0;
  width: 90%;
} 

#user-title{
  background-color: var(--grey-nav);
  color: var(--white);
  font-size: 1.0rem;
}

#submit-button-logout{
  background-color: var(--grey-dark);
  border: 1px solid var(--grey-nav);
  border-radius: 10px;
  color: var(--white);
  font-weight: 600;
  text-align: center;
  width:60%
}

#submit-button-logout:hover, #submit-button-update:hover, #submit-button-delete:hover  {
  cursor: pointer;
}


#user-details{
  background-color: var(--grey-medium);
  color: var(--white);
}

#submit-button-update{
  background-color: var(--grey-dark);
  border: 1px solid var(--grey-dark);
  border-radius: 10px;
  color: var(--white);
  font-size: 0.75rem;
  font-weight: 600;
  margin: 5% 0;
  padding: 3% 0 ; 
  width:90%
}

.section-homescreen select{
  background: none;
  border: none;
  border-bottom: 1px solid var(--primary);
  margin: 5% 0 2% 5%;
}

#submit-button-delete{
  background-color: var(--grey-light);
  border: 1px solid var(--grey-light);
  border-radius: 10px;
  color: var(--grey-nav);
  font-size: 0.75rem;
  font-weight: 600;
  padding: 3% 0 ; 
  width:60%
}

#update-field{
  margin: 0 2% 0 2%;
}




/* ----------------- QUOTE ------------------ */





/* ----------------- FOOTER ------------------ */

.footer {
  font-size: 0.6rem;
  font-weight: 600;
  height: 5vh;
}

.footer a {
  color:var(--grey-nav);
  margin: 0;
  text-decoration: none;
}

.footer a:hover{
  color: var(--grey-medium);
}
