


/* --------------------------------------------------------- */
/* VARIABLES                                                 */
/* --------------------------------------------------------- */
:root{
  --yellow : #ffd700;
  --black :  #000000; 
  --blue : #2E86AB; 
  --red : #F24236; 
}




/* --------------------------------------------------------- */
/* DOCUMENT CLASSES AND ELEMENTS                             */
/* --------------------------------------------------------- */

html {
  position: relative;
  min-height: 100%;
  font-family: 'Montserrat', sans-serif;
}

body {
  background: #eee;
  padding: 0 16px;
  background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
}


.container{
  text-align: center;
}




/* --------------------------------------------------------- */
/* COMPONENT CLASSES                                         */
/* --------------------------------------------------------- */


/* ----------------- HEADER ------------------ */
.navbar-customise{
  background-color: var(--yellow);
  border-radius: 1px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  height: 15vh;
  margin: auto -16px;
}

.navbar-brand{
  font-family: 'Hubballi', cursive;
  font-size: 3.5rem;
  color: var(--black);
  margin-left:2rem;
}

.navbar-brand:hover{
  color: var(--blue);
}



/* ----------------- Insert Note ------------------ */

.insert-note {
background-color: white;
border-radius: 7px;
box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
margin: 30px auto 30px auto;
width: 50%;
padding: 10px;
height: 75px;
}

.insert-note-expanded{
  background-color: white;
  border-radius: 7px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
  margin: 30px auto 30px auto;
  width: 50%;
  padding: 10px;
  height: 150px;
}


input[type=text] {
  display: block;
  margin-top: 7px;
  border-style: none;
  font-size: 1.2rem;
  width: 100%;
}

.submit-note-button{
  background-color: #ffd700;
  border-radius: 50%;
  padding: 10px;
  border-style: none;
  color: white;
  position: relative;
  right:-90%;
  bottom:-40px;
 }



/* ----------------- Note ------------------ */

.note {
background-color: white;
border-radius: 7px;
box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
margin: 2rem;
width: 350px;
padding: 10px;
float: left;
}

.note h1{
  font-size: 1.5rem;
  margin-bottom: 1.0rem;
}



.note p{
    font-size: 1.0rem;
    margin-bottom: 5px;
    white-space: normal;
    word-wrap: break-word;
}

.delete-button{
  color: #ffd700;
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  position: relative;
  right:-80%;
  margin-top: 20px;

}


/* ----------------- FOOTER ------------------ */
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: #ffd700;
  color:black;
  margin: auto -16px;

}
