


/* --------------------------------------------------------- */
/* VARIABLES                                                 */
/* --------------------------------------------------------- */
:root{
  --yellow : #ffd700;
  --black :  #000000; 
  --blue : #2E86AB; 
  --red : #F24236; 

  --fontSerif: 'Crimson Text', serif;
  --fontSans: 'Roboto', sans-serif; 
}




/* --------------------------------------------------------- */
/* DOCUMENT CLASSES AND ELEMENTS                             */
/* --------------------------------------------------------- */

html {
  position: relative;
  min-height: 100%;
}

body {
  background: #eee;
  background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
  font-family: var(--fontSans);
  padding: 0 16px;
  margin: 0 0 0 0;
  min-height: 100vh;
}

h3{
  font-size: 1.25rem;
  margin-top: 0;
  padding-top: 3%;
  text-align: center;
}

div{
  margin:0;
}

.container{
  text-align: center;
}




/* --------------------------------------------------------- */
/* COMPONENT CLASSES                                         */
/* --------------------------------------------------------- */


/* ----------------- HEADER ------------------ */
.navbar-customise{
  background-color: var(--yellow);
  border-radius: 1px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  height: 10vh;
  margin: auto -16px;
}

.navbar-brand{
  font-family: var(--fontSerif);
  font-size: 2.5rem;
  color: var(--black);
  margin-left:2rem;
}

.navbar-brand:hover{
  color: var(--blue);
}


/* ----------------- SECTIONS ------------------ */

.section-main-container{
  /* background-color: green; */
  display: flex;
  min-height: 85vh;
}

.section-insert{
  /* background-color: var(--blue); */
  width: 50%;
}

.section-storage-container{
  min-height: 85vh;
  min-width: 50vw;
}

.section-archive{
  border-left: 1px solid var(--black);
  min-height: 42.5vh;
}

.section-doing{
  border-left: 1px solid var(--black);
  border-bottom: 1px solid var(--black);
  min-height: 42.5vh;
  margin: 0;
}


/* ----------------- Insert Note ------------------ */

.insert-note {
background-color: white;
border-radius: 7px;
box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
height: 50px;
margin: 15px auto 15px auto;
padding: 10px;
width: 60%;
}

.insert-note-expanded{
  height: 75px;
}


input[type=text] {
  display: block;
  margin-top: 7px;
  border-style: none;
  font-size: 0.75rem;
  width: 100%;
}

.submit-note-button{
  align-items: center;
  background-color: var(--yellow);
  border-radius: 50%;
  border-style: none;
  color: var(--black);
  display: flex;
  font-size: 1.0rem;
  font-weight: 600;
  justify-content: center;
  padding: 0 1px 2px 2px ;
  position: relative;
  right:-90%;
  width: 2.0rem;
 }



/* ----------------- Note ------------------ */

.note {
background-color: white;
border-radius: 7px;
box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
margin: 0.5rem;
width: 200px;
padding: 10px;
float: left;
}

.note h1{
  color: var(--blue);
  font-size: 1.0rem;
  font-weight: 600;
  margin-bottom: 5%;
  text-align: center;
}

.note p{
    font-size: 0.8rem;
    margin-bottom: 10%;
    white-space: normal;
    word-wrap: break-word;
}



/* ----------------- BUTTONS ------------------ */

.div-buttons{
  display: flex;
  justify-content: space-between;
}

.button{
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-weight: 600;
  margin-top: 1%;
  outline: none;
}

.doing-button{
  color: var(--red);
}

.archive-button{
  color: var(--black);
}

.delete-button{
  color: var(--yellow);
}

.hovertext {
  position: relative;
  font-size: 0.75rem;
  }

  .hovertext:before {
    background-color: var(--black);
    border-radius: 5px;
    color: var(--yellow);
    content: attr(data-hover);
    left: -100%;
    opacity: 0.5;
    padding: 5px 0;
    position: absolute;
    text-align: center;
    top: 200%;
    visibility: hidden;
    width: 75px;
    z-index: 1;
  }

  .hovertext:hover:before {
    opacity: 1;
    visibility: visible;
  }






/* ----------------- FOOTER ------------------ */
.footer {
  align-items: center;
  background-color: var(--yellow);
  color:black;
  display: flex;
  font-size: 0.75rem;
  height: 5vh;
  justify-content: center;
  margin-left: -20px;
  width: 100vw;
}

.footer a {
  color: var(--black);
  margin: 0;
  text-decoration: none;
}

.footer a:hover{
  color: var(--blue);
}
