


/* --------------------------------------------------------- */
/* VARIABLES                                                 */
/* --------------------------------------------------------- */
:root{
  --yellow : #ffd700;
  --black :  #000000; 
  --blue : #2E86AB; 
  --red : #F24236; 
}




/* --------------------------------------------------------- */
/* DOCUMENT CLASSES AND ELEMENTS                             */
/* --------------------------------------------------------- */

html {
  position: relative;
  min-height: 100%;
  font-family: 'Montserrat', sans-serif;
}

body {
  background: #eee;
  padding: 0 16px;
  margin: 0;
  background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
  min-height: 100vh;
}

div{
  margin:0;
}

.container{
  text-align: center;
}




/* --------------------------------------------------------- */
/* COMPONENT CLASSES                                         */
/* --------------------------------------------------------- */


/* ----------------- HEADER ------------------ */
.navbar-customise{
  background-color: var(--yellow);
  border-radius: 1px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  height: 15vh;
  margin: auto -16px;
}

.navbar-brand{
  font-family: 'Hubballi', cursive;
  font-size: 3.0rem;
  color: var(--black);
  margin-left:2rem;
}

.navbar-brand:hover{
  color: var(--blue);
}


/* ----------------- SECTIONS ------------------ */

.section-main-container{
  background-color: green;
  display: flex;
  min-height: 80vh;
}

.section-insert{
  background-color: var(--blue);
  width: 50%;
}

.section-archive{
  background-color: var(--red);
  width: 50%;
}


/* ----------------- Insert Note ------------------ */

.insert-note {
background-color: white;
border-radius: 7px;
box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
height: 60px;
margin: 30px auto 30px auto;
padding: 10px;
width: 40%;
}

.insert-note-expanded{
  height: 100px;
}


input[type=text] {
  display: block;
  margin-top: 7px;
  border-style: none;
  font-size: 1.0rem;
  width: 100%;
}

.submit-note-button{
  align-items: center;
  background-color: var(--yellow);
  border-radius: 50%;
  border-style: none;
  color: var(--black);
  display: flex;
  font-size: 1.5rem;
  justify-content: center;
  padding: 0 1px 2px 2px ;
  position: relative;
  right:-90%;
  width: 2.5rem;
 }



/* ----------------- Note ------------------ */

.note {
background-color: white;
border-radius: 7px;
box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
margin: 0.5rem;
width: 200px;
padding: 10px;
float: left;
}

.note h1{
  font-size: 1.0rem;
  margin-bottom: 0.5rem;
}

.note p{
    font-size: 0.8rem;
    margin-bottom: 5px;
    white-space: normal;
    word-wrap: break-word;
}

.delete-button{
  color: var(--yellow);
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  position: relative;
  right:-80%;
  margin-top: 20px;

}



/* ----------------- ARCHIVE ------------------ */





/* ----------------- FOOTER ------------------ */
.footer {
  align-items: center;
  background-color: var(--yellow);
  color:black;
  display: flex;
  font-size: 0.75rem;
  height: 5vh;
  justify-content: center;
  width: 100vw;
}


.footer p {
  margin: 0;
}